web/*.rbc
web/*.sassc
web/.sass-cache
web/capybara-*.html
web/.rspec
web/.bundle
web/vendor/bundle
web/log/*
web/tmp/*
web/db/*.sqlite3
web/public/system/*
web/coverage/
web/spec/tmp/*
web/**.orig
web/rerun.txt
web/pickle-email-*.html
web/config/database.yml